*.o
build/
build/*
top_opt_sparsity_pattern/
top_opt_exact_map_*
top_opt_approx_maps_*
top_opt_approx_map_*
tht_sparsity_pattern/
tht_exact_map_sparsity_pattern/
tht_approx_map_*
cd2d_sparsity_pattern/
cd2d_exact_map_*
cd2d_approx_maps_*
bubble_sparsity_pattern/
bubble_exact_map_*
bubble_approx_map_*
data*